:root {
    --stepper-inactive-color: #dbdbdb;
    --stepper-number-inactive-color: #9c9c9c;
    --stepper-description-inactive-color: #adadad;
}

.Checkout {
    &-Stepper {
        padding: {
            top: 20px;
            bottom: 20px;
        };
        background: var(--breadcrumbs-background);
    }
}

.Stepper {
    &-Steps {
        display: flex;
        justify-content: space-between;
    }

    &-Step {
        flex:1;    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 23%;
        position: relative;
    }
}

.Step {
    $number-size: 30px;

    &-Number {
        color: var(--stepper-number-inactive-color);
        border-radius: 50%;
        background-color: var(--stepper-inactive-color);
        width: $number-size;
        height: $number-size;
        padding: 10px 0;
        text-align: center;
        margin-bottom: 1.2rem;

        &_isHighlighted {
            color: #{$white};
            background-color: var(--primary-base-color);
        }

        span {
            display: block;
            opacity: 1;
            transition-property: opacity;
            will-change: opacity;
            transition-timing-function: ease-in;
            transition-duration: 0.25s;
    
            &:last-child {
                opacity: 0;
            }
        }

        &_isCompleted {
            span {
                &:first-child {
                    opacity: 0;
                }
    
                &:last-child {
                    opacity: 1;
                }
            }
        }
    }

    &-NumberCheck {
        position: absolute;
        z-index: 1;
        top: 2px;
        bottom: 0;
        margin: auto;
        left: 6px;
        width: 12px;
        height: 6px;
        transform: rotate(135deg) translateX(-5px);
        border-right: 2px solid #{$white};
        border-top: 2px solid #{$white};
    }

    &-Description {
        color: var(--stepper-description-inactive-color);

        &_isHighlighted {
            color: var(--body-content-color);
        }
    }

    &-LineDivider {
        @extend .Line;
        background-color: var(--stepper-inactive-color);
        width: calc(100% - 2 * #{$number-size});
        left: calc(-50% + #{$number-size});

        span {
            display: block;
            border-radius: 16px;
            background-color: var(--primary-base-color);
            width: 0%;
            height: 100%;
            transition-property: width;
            will-change: width;
            transition-timing-function: ease-in;
            transition-duration: 1s;
        }

        &_isHighlighted {
            span {
                width: 100%;
            }
        }
    }

    &-FirstLineDivider {
        @extend .Line;
        background-color: var(--primary-base-color);
        width: calc(50% - #{$number-size});
        left: 0;
    }

    &-LastLineDivider {
        @extend .Line;
        background-color: var(--stepper-inactive-color);
        width: calc(50% - #{$number-size});
        right: 0;
    }
}

.Line {
    height: 3px;
    border-radius: 16px;
    top: 25%;
    position: absolute;
}